.break-point{
    display: flex;
    background-color:#fafafa ;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
.break-point button{
    margin-right: 20px;
    border-radius: 100px;
    background-color: antiquewhite;
    padding: 20px;
    border: 0;
}
.break-point button:hover{
    background-color: azure;
    transition: 1s;
}